/* ============== Do not delete this ========== */
.section-selector-1 { background-color: var(--teal-700) }
.col-3 h3 { color: var(--trend-900); margin-bottom: 16px }

/* Add your custom CSS below */
header h1, header h2 { 
    font-family: 'Abril Fatface', serif; 
    letter-spacing: 1px;
}

.col-3 a:link, a:visited { 
    color: var(--cyan-200) !important;
    text-decoration-color: var(--cyan-200) !important;
}

.col-3 a:focus, .col-3 a:hover, .col-3 a:active {
    color: var(--trend-900) !important;
    text-decoration-color: var(--trend-900) !important;
}